body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #23252C;
}

.connect-page {
  margin: auto;
  width: 500px;
  height: 900px;
  background-color: #1A1B21;
  border-radius: 10px;
}

.backToSetup {
  margin: 10px 0px 50px 400px;
  height: 30px;
  width: 80px;
  background-color: transparent;
  color: white;

  border-radius: 15px;
  border: 2px solid white;
}

.backToSetup:hover {
  opacity: 0.3;
}

.unlock {
  margin: 15px 0px 10px 0px;
  height: 40px;
  width: 170px;
  background-color: transparent;
  color: white;
  font-size: 18px;

  border-radius: 15px;
  border: 2px solid white;
}

.unlock:hover {
  opacity: 0.3;
}

.connect-body {
  margin-top: 020px;
  padding: 40px 0px 100px 0px;
}

.connect-body > h1 {
  margin: 30px 0px 80px 0px;
  color: white;
}

.seedphrase-link {
  margin: 225px auto 0px auto;
  width: 300px;
  color: #22C1FD;
  background-color: transparent;
}

.seedphrase-link:hover {
  opacity: 0.3;
}

